* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
  display: grid;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  max-width: 250px;
  position: relative;
  margin-left: 1rem;
}

.lineNumber:hover {
  cursor: pointer;
}

ul::before {
  content: "";
  width: 0.2rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 8%;
  background: rgb(182, 207, 251);
  z-index: -1;
}

li {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: rgb(182, 207, 251);
  text-align: right;
}

li + li {
  margin-top: 0.5rem;
}

::marker {
  font-weight: 500;
  color: rgb(223, 41, 9);
  font-size: 1.2rem;
}

.icon {
  vertical-align: middle;
}
